@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

html {
	font-smoothing: antialiased;
   	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Work Sans', sans-serif;
	color: #0b6936;
	background: #00CC66;
	font-weight: 400;
}

h3, .h3 {
	font-weight: 400;
	font-size: 4vmax;
	letter-spacing: -.1rem;
	margin: 0;
	line-height: 1;
}

a {
	color: #0b6936;
}

strong {
	font-weight: 400;
}

/* grid */

.container {
	position: relative;
	clear: both;
	border-bottom: 1px solid #0ca551;
	padding: 10px;
}

.grid {
	display: grid;
	grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid--large {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-flow: column;
	grid-auto-flow: dense;
}

.grid--small {
	grid-template-columns: repeat(5, 1fr);
  	grid-template-rows: 20%;
}

.grid__heading {
	display: block;
	margin-bottom: 10px;
}

.grid__item {
	background-color: #fff;
	border-radius: 6px;
	padding: 15px;
	display: inline-block;
	background-color: #0ca551;
	overflow: hidden;
	position: relative;
	transform: scale(1);
	transition: transform .2s ease-in-out;
	color: #fff;
}

.amount {
	font-size: 1.6rem;
}

.amount span {
	color: #0b6936;
}

footer.container {
	border-bottom: 0;
}

.lede {
	font-size: 3.8rem;
	letter-spacing: -.02em;
	font-weight: 300;
	line-height: 1.1;
	color: #fff;
	text-shadow: 2px 2px 0px #0ca551;
}